/* CSS RESET */

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default padding */
ul[class],
ol[class] {
  padding: 0;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption {
  margin: 0;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeLegibility;
  line-height: 1.5;
}

/* Remove list styles on ul, ol elements with a class attribute */
ul[class],
ol[class] {
  list-style: none;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img {
  max-width: 100%;
  display: block;
}

/* Natural flow and rhythm in articles by default */
article > * + * {
  margin-top: 1em;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* ^-------- RESET 

   ///  Table of Contents   \\\
        
        1. Base
            - HTML
            - Body
        2. Blocks
            - Header
            - Sections
            - Divs
            - Spans
            - Footer
        3. Clickables
            - Links
            - Buttons
        4. Images
            - Images
            - SVG
        5. Text
            - H1, H2, H3, H4, H5, H6
            - P 
            - Misc Font
        6. Forms
        7. Video
        8. Extras
            - Swiper/Carousel

*/

/*  -----------------
    |   1. Base     |
    -----------------
*/

html {
    height: 100%;
    padding: 0px;
    margin: 0;
    width: 100%;
}

body {
    font-family: 'Playfair Display', serif;
    font-size: 16px;
    padding: 0;
    margin: 0px;
    font-weight: 500;
    max-width: 100%;
}

/*  -----------------
    |   2. Blocks   |
    -----------------
*/

header {
    background-color: #fff;
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

/* Div that hold the spans to make the hamburger icon */
#hambrgr-icon {
    width: 20px;
    height: 20px;
    position: relative;
    margin: 10px auto;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    cursor: pointer;
}

#hambrgr-icon span {
    display: block;
    position: absolute;
    height: 2px;
    width: 100%;
    background-color: #2a2a2a;
    opacity: 1;
    left: 0;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .25s ease-in-out;
    -moz-transition: .25s ease-in-out;
    -o-transition: .25s ease-in-out;
    transition: .25s ease-in-out;
}

#hambrgr-icon span:nth-child(1) {
    top: 0;
}

#hambrgr-icon span:nth-child(2), #hambrgr-icon span:nth-child(3) {
    top: 6px;
}

#hambrgr-icon span:nth-child(4) {
    top: 12px;
}

#hambrgr-icon.open span:nth-child(1) {
    top: 6px;
    left: 0%;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

#hambrgr-icon.open span:nth-child(2) {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45dege);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
}

#hambrgr-icon.open span:nth-child(3) {
    width: 0%;
}

#hambrgr-icon.open span:nth-child(4) {
    top: 18px;
    width: 0%;
    left: 50%;
}

/* Div that hold svgs for company logo */
#company-logo {
    width: 8em;
}

.section-margins {
    margin: 2.25em 0 0 0;
    width: 100%;
}

#hero-section {
    background-image: url("https://grovemade.imgix.net/https%3A%2F%2Fsiteleaf.grovemade.com%2Fuploads%2FcoverB-desk-collection-leather-desk-pad-F4.jpg?auto=format&ixlib=python-1.1.2&w=1100&s=b0248702d378d0988e2c2b1fb9303805");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    color: #fff;
    height: auto;
    width: 100%;
}

#hero-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

#inspire-section, #featured-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.inspire-tile {
    width: 92%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#home-office-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    color: #fff;
    height: 250px;
    margin: 100px auto 50px auto;
    padding: 0;
    width: 100%;

    background: url('../imgs/compAndLaptopBackground.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

#home-section-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
    text-align: center;
    width: 90%;
}

#hard-way-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    text-align: center;
}

#mission-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    text-align: center;
}

#person-div {
    display: grid;
    grid-template-columns: 31% 31% 31%;
    row-gap: 6px;
    column-gap: 10px;
    margin: 0 auto;
    width: 90%;
}

.hidden-info {
    display: none;
    grid-column: 1/4;  
    width: 100%;
}


/*  -----------------
    | 3. Clickables |
    -----------------
*/

.no-underline {
    text-decoration: none;
}

header a {
    margin-right: 1.25em;
}

#hambrgr-btn {
    background-color: transparent;
    border: none;
    margin-left: 5px;
    outline: none;
}

.learn-link {
    color: #000;
    border-bottom: 2px solid #000;
    font-size: .65em;
    font-weight: 600;
    letter-spacing: .075em;
    margin: 0 auto;
    padding-bottom: 1.5px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
}

.capital-link {
    color: #000;
    font-size: .65em;
    font-weight: 700;
    letter-spacing: .1em;
    text-transform: uppercase;
}

#hero-section a {
    border-color: #fff;
    color: #fff;
    margin: 1em 0 7em 0;
}

#inspire-section a {
    margin-bottom: 3.25em;
}

#home-office-section a {
    border-color: #fff;
    color: #fff;
}


/*  -----------------
    |  4. Images    |
    -----------------
*/

.person-img {
    cursor: pointer;
    height: 100%;
    width: 100%;
}

/*  -----------------
    |   5. Text     |
    -----------------
*/

.roboto {
    font-family: 'Roboto', sans-serif;
}

.section-titles {
    font-size: 1.5em;
    font-weight: 500;
    letter-spacing: .025em;
}

.gray {
    color: #aaa;
    font-size: .8em;
    font-weight: 400;
    letter-spacing: .05em;
    margin: 1em auto 1.25em auto;
    text-align: center;
    widtH: 88%;
}

#hero-section h1 {
    font-size: 2.5em;
    font-weight: 400;
    letter-spacing: .05em;
    margin: 1.5em 0 .25em 0;
    text-align: center;
}

#hero-section p {
    font-size: .8em;
    font-weight: 400;
    letter-spacing: .025em;
    text-align: center;
}

.tile-title {
    font-size: 1em;
    font-weight: 600;
    margin-top: 1.75em;
    margin-bottom: .25em;
}

#featured-section p {
    margin: 0.5em 0 0.25em;
}

#home-section-content p {
    font-size: 0.8em;
    font-weight: 400;
    margin-bottom: 0.9em;
}

#hard-way-section p {
    margin-bottom: 2em;
}

/*  -----------------
    |   6. Forms    |
    -----------------
*/

/*  -----------------
    |   7. Video    |
    -----------------
*/

#videoPlayer {
    height: 26vh;
    width: 95%;
}

/*  -----------------
    |  8. Extras    |
    -----------------
*/

.swiper-container {
    width: 90%;
    height: 300px;
    padding: 0;
}

.swiper-wrapper {
    margin: 40px auto 0 auto;
    width: 100%;
}

.swiper-slide {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    margin-right: 0px;
}

.swiper-container-horizontal > .swiper-pagination-bullets {
    top: 0;
}

.swiper-container-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet {
    height: 7px;
    width: 7px;
    margin: 0 8px;
}

.swiper-container-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet-active {
    background-color: #000;
}

.swiper-slide a {
    color: #aaa;
    font-family: 'Roboto', sans-serif;
    font-size: 0.75em;
    height: 100%;
    letter-spacing: 0.075em;
    text-decoration: none;
}

.slide-img-div {
    display: flex;
    height: 70%;
    margin-bottom: 1em;
    position: relative;
    width: 100%;
}

.slide-img-div::before {
    content: ''; 
    height: 100%;
    margin: auto;
    padding: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
        
    background: rgba(0,0,0,0.045);
}

.slide-img-div img {
    height: auto;
    object-fit: contain;
    margin: 0 auto;
    width: 90%;
}