/* CSS RESET */

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default padding */
ul[class],
ol[class] {
  padding: 0;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption {
  margin: 0;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeLegibility;
  line-height: 1.5;
}

/* Remove list styles on ul, ol elements with a class attribute */
ul[class],
ol[class] {
  list-style: none;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img {
  max-width: 100%;
  display: block;
}

/* Natural flow and rhythm in articles by default */
article > * + * {
  margin-top: 1em;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* ^-------- RESET 

   ///  Table of Contents   \\\
        
        1. Base
            - HTML
            - Body
        2. Blocks
            - Header
            - Sections
            - Divs
            - Spans
            - Footer
        3. Clickables
            - Links
            - Buttons
        4. Images
            - Images
            - SVG
        5. Text
            - H1, H2, H3, H4, H5, H6
            - P 
            - Misc Font
        6. Forms
        7. Video
        8. Extras
            - Swiper/Carousel

*/

/*  -----------------
    |   1. Base     |
    -----------------
*/

html {
    height: 100%;
    padding: 0px;
    margin: 0;
    width: 100%;
}

body {
    font-family: 'Playfair Display', serif;
    font-size: 16px;
    padding: 0;
    margin: 0px;
    font-weight: 500;
    max-width: 100%;
}

/*  -----------------
    |   2. Blocks   |
    -----------------
*/

header {
    background-color: #fff;
    height: 45px;
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

/* Div that hold the spans to make the hamburger icon */
#hambrgr-icon {
    width: 20px;
    height: 20px;
    position: relative;
    margin: 10px auto;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    cursor: pointer;
}

#hambrgr-icon span {
    display: block;
    position: absolute;
    height: 2px;
    width: 100%;
    background-color: #2a2a2a;
    opacity: 1;
    left: 0;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .25s ease-in-out;
    -moz-transition: .25s ease-in-out;
    -o-transition: .25s ease-in-out;
    transition: .25s ease-in-out;
}

#hambrgr-icon span:nth-child(1) {
    top: 0;
}

#hambrgr-icon span:nth-child(2), #hambrgr-icon span:nth-child(3) {
    top: 6px;
}

#hambrgr-icon span:nth-child(4) {
    top: 12px;
}

#hambrgr-icon.open span:nth-child(1) {
    top: 6px;
    left: 0%;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

#hambrgr-icon.open span:nth-child(2) {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45dege);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
}

#hambrgr-icon.open span:nth-child(3) {
    width: 0%;
}

#hambrgr-icon.open span:nth-child(4) {
    top: 18px;
    width: 0%;
    left: 50%;
}

#tablet-nav {
    display: none;
}

/* Div that hold svgs for company logo */
#company-logo {
    width: 8em;
}

.section-margins {
    margin: 2.25em 0 0 0;
    width: 100%;
}

#hero-section {
    background-image: url("https://grovemade.imgix.net/https%3A%2F%2Fsiteleaf.grovemade.com%2Fuploads%2FcoverB-desk-collection-leather-desk-pad-F4.jpg?auto=format&ixlib=python-1.1.2&w=1100&s=b0248702d378d0988e2c2b1fb9303805");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    color: #fff;
    height: auto;
    padding-bottom: 25%;
    width: 100%;
}

#hero-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

#inspire-section, #featured-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#tile-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 100%;
}

.inspire-tile {
    width: 92%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#home-office-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    color: #fff;
    height: auto;
    margin: 50px auto 50px auto;
    padding: 20% 0 20% 0;
    width: 100%;

    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center; 
}

#home-section-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
    text-align: center;
    width: 90%;
}

#hard-way-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    text-align: center;
}

#mission-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    height: auto;
    margin-bottom: 60px;
    text-align: center;
    width: 100%;
}

#person-div {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    row-gap: 10px;
    grid-column-gap: 10px;

    margin: 75px auto 0 auto;
    text-align: center;
    width: 90%;
}

.hidden-info {
    display: none;
    grid-column: 1/4;  
    width: 100%;
}

#join-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#design-inspires-block {
    background-color: #9aa8b1;
    height: 210px;
    margin: 50px auto 1em auto;
    width: 93%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

footer {
    background-color: #f5f5f5;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#up-btn-div {
    display: none;
}

#newsletter-section {
    width: 200px;
}

#link-section {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;

    margin-top: 7em;
    width: 275px;
}

#social-section {
    margin-top: 4em;
    width: 100px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#social-div {
    margin-bottom: 3em;
    width: 100%;

    display: flex;
    justify-content: space-between;
}

#copyright-div {
    margin-bottom: 3em;
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

/*  -----------------
    | 3. Clickables |
    -----------------
*/

.no-underline {
    text-decoration: none;
}

header a {
    margin-right: 1.25em;
}

#hambrgr-btn {
    background-color: transparent;
    border: none;
    margin-left: 5px;
    outline: none;
}

.learn-link {
    color: #000;
    border-bottom: 2px solid #000;
    font-size: .65em;
    font-weight: 600;
    letter-spacing: .075em;
    margin: 0 auto;
    padding-bottom: 1.5px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
}

.capital-link {
    color: #000;
    font-size: .65em;
    font-weight: 700;
    letter-spacing: .1em;
    text-transform: uppercase;
}

#hero-section a {
    border-color: #fff;
    color: #fff;
    margin: 1em 0 1.5em 0;
}

#inspire-section a {
    margin-bottom: 3.25em;
}

#home-office-section a {
    border-color: #fff;
    color: #fff;
}

.orange-person-link {
    color: #CC6633	;
}

.bold-person-link {
    color: #000;
    font-weight: 900;
}

.footer-link {
    color: #303030;
    letter-spacing: 0.05em;
    margin: 0 1em 0.5em 0;
    text-decoration: none;
}

.copyright-links {
    color: #888;
    font-size: 0.7em;
    font-style: italic;
    font-weight: 700;
    text-decoration: none;
}

#department-link {
    color: #4a4a4a;
    font-size: 0.7em;
    font-style: italic;
    font-weight: 600;
    margin-bottom: 1.5em;
    text-decoration: none;
}

/*  -----------------
    |  4. Images    |
    -----------------
*/

.person-img {
    cursor: pointer;
    height: auto;
    width: auto;
}

#design-inspires-block img {
    height: auto;
    margin-bottom: 0.8em;
    width: 50px;
}

#social-div svg {
    height: 20px;
    width: 20px
}

/*  -----------------
    |   5. Text     |
    -----------------
*/

.roboto {
    font-family: 'Roboto', sans-serif;
}

.section-titles {
    color: #2a2a2a;
    font-size: 1.35em;
    font-weight: 500;
    letter-spacing: .025em;
}

.gray {
    color: #aaa;
    font-size: .8em;
    font-weight: 400;
    letter-spacing: .05em;
    margin: 1em auto 1.25em auto;
    text-align: center;
    widtH: 88%;
}

#hero-section h1 {
    font-size: 2.5em;
    font-weight: 400;
    letter-spacing: .05em;
    margin: 1.5em 0 .25em 0;
    text-align: center;
}

#hero-section p {
    font-size: .8em;
    font-weight: 400;
    letter-spacing: .025em;
    text-align: center;
}

.tile-title {
    font-size: 1em;
    font-weight: 600;
    margin-top: 1.75em;
    margin-bottom: .25em;
}

#featured-section p {
    margin: 0.5em 0 0.25em;
}

#home-section-content .section-titles {
    color: #fff;
}

#home-section-content p {
    font-size: 0.8em;
    font-weight: 400;
    margin-bottom: 0.9em;
}

#hard-way-section p {
    margin-bottom: 2em;
}

#mission-section .section-titles {
    width: 80%;
}

/* Get the first info in each hidden info div -> (person's name) */
.person-description:nth-child(1) {
    margin: 1.5em auto;
}

.person-description {
    color: #4a4a4a;
    font-size: 1em;
    line-height: 1.7em;
    margin: 0 auto;
    width: 90%;
}

.person-bttm {
    font-size: 0.6em;
    font-weight: 900;
    letter-spacing: 0.07em;
    margin: 2em auto;
}

#join-section .section-titles {
    margin-bottom: 1em;
}

#design-inspires-block h3 {
    color: #fff;
    font-size: 1.5em;
    font-weight: 500;
}

#design-inspires-block p {
    color: #fff;
    font-size: 0.8em;
    margin-top: 1em;
    text-align: center;
    width: 85%;
}

#newsletter-section h3 {
    font-size: 1.4em;
    font-weight: 400;
    letter-spacing: 0.025em;
    text-align: center;
}

#newsletter-about {
    display: none;
}

/*  -----------------
    |   6. Forms    |
    -----------------
*/

#newsletter-section form {
    border-bottom: 1px solid #000;
    margin-top: 1.5em;
    width: 100%;

    display: flex;
    justify-content: space-between;
}

#newsletter-section input[type=email] {
    background-color: transparent;
    border: none;
    color: #4a4a4a;
    font-size: 0.65em;
    font-style: italic;
    font-weight: 600;
    letter-spacing: 0.05em;
    padding: 10px 0 ;
}

#newsletter-section input[type=submit] {
    background-color: transparent;
    border: none;
    color: #4a4a4a;
    font-family: 'Roboto', sans-serif;
    font-size: 0.65em;
    font-weight: 600;
    letter-spacing: 0.05em;
    text-transform: uppercase;
}

/*  -----------------
    |   7. Video    |
    -----------------
*/

#responsive-container { 
    position: relative; 
    padding-bottom: 56.25%; 
    overflow: hidden;
    width: 95%; 
} 
    
#responsive-frame  {
    position: absolute; 
    top: 0; 
    left: 0; 
    width: 100%; 
    height: 100%; 
    border: 0;
}


/*  -----------------
    |  8. Extras    |
    -----------------
*/

.swiper-container {
    width: 90%;
    height: 80vw;
    padding: 0;
}

.swiper-wrapper {
    margin: 40px auto 0 auto;
    width: 100%;
}

.swiper-slide {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    margin-right: 0px;
}

.swiper-container-horizontal > .swiper-pagination-bullets {
    top: 0;
}

.swiper-container-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet {
    height: 7px;
    width: 7px;
    margin: 0 8px;
}

.swiper-container-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet-active {
    background-color: #000;
}

.swiper-slide a {
    color: #aaa;
    font-family: 'Roboto', sans-serif;
    font-size: 0.75em;
    height: 100%;
    letter-spacing: 0.075em;
    text-decoration: none;
}

.slide-img-div {
    display: flex;
    height: 70%;
    margin-bottom: 1em;
    position: relative;
    width: 100%;
}

.slide-img-div::before {
    content: ''; 
    height: 100%;
    margin: auto;
    padding: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
        
    background: rgba(0,0,0,0.045);
}

.slide-img-div img {
    height: auto;
    object-fit: contain;
    margin: 0 auto;
    width: 90%;
}

@media only screen and (min-width: 700px) {

    /*------------------
    |     Blocks       |
     ------------------*/
    header {
        height: 75px;
    }

    #hambrgr-btn {
        display: none;
    }

    #tablet-nav {
        display: inline;
        margin-left: 50px;
    }

    #tablet-nav a {
        color: #2a2a2a;
        font-size: 0.85em;
        font-weight: 600;
        letter-spacing: 0.05em;
        text-decoration: none;
        text-transform: uppercase;
    }

    #tile-container {
        flex-direction: row;
        width: 92%;
    }

    .inspire-tile {
        width: 46%;
    }

    #home-office-section {
        margin: 50px auto 50px auto;
        padding: 13% 0 13% 0;
    }

    #hard-way-section {
        margin-top: 8em;
    }

    #person-div {
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
        row-gap: 15px;
        grid-column-gap: 15px;
    }

    #design-inspires-block {
        height: 425px;
        margin-top: 135px;
        margin-bottom: 50px;
    }

    footer {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
        height: 500px;
        margin-bottom: 0;
    }

    #up-btn-div {
        grid-column: 1/5;
        grid-row: 1/2;

        display: flex;
        align-items: center;
        justify-content: flex-end;

        height: 80px;
        width: 100%;
    }

    #newsletter-section {
        grid-column: 2/4;
        grid-row: 2/4;
        
        align-items: flex-start;
        margin: 5em 0 0 2em;
        width: 100%;
    }

    #link-section {
        grid-column: 1/2;
        grid-row: 2/4;

        flex-direction: column;
        align-items: flex-start;
        margin: 10em 0 0 2.5em;
        width: 100%;
    }

    #social-section {
        grid-column: 1/5;
        grid-row: 5/5;

        flex-direction: row;
        justify-content: flex-end;
        position: relative;
        padding-right: 25px;
        width: 100%;
    }

    #social-div {
        margin-left: 35px;
        margin-right: 35px;
        width: 150px;
    }

    #copyright-div {
        flex-direction: row;
    }

    /* -----------------
    |       Text        |
     ------------------*/

     .tight-titles {
         font-size: 2.5em;
         font-weight: 300;
         text-align: center;
         width: 250px;
     }

     .tablet-gray {
         font-size: 1em;
         width: 280px;
     }
     
     .tile-title {
         font-size: 1.55em;
         font-weight: 300;
         margin-bottom: 1em;
         text-align: center;
     }

     .tablet-titles {
         font-size: 2em;
         font-weight: 300;
     }

     /* Specific targeting to make room between p and pagination */
     #featured-section p {
         margin-bottom: 2em;
     }

     .large-office-title {
         font-size: 3.5em;
         line-height: 1.25em;
         width: 75%;
     }

     #home-office-section p {
         font-size: 1em;
     }

     #hard-way-section p {
         font-size: 1em;
         width: 625px;
     }

     #mission-section h2 {
         font-size: 2em;
         font-weight: 300;
         max-width: 20%;
     }

     #join-section h2 {
         margin-top: 70px;
     }

     #design-inspires-block h3 {
        font-size: 2.25em;
        font-weight: 300;
    }
    
    #design-inspires-block p {
        font-size: 1em;
        font-weight: 400;
        margin-top: 1em;
        text-align: center;
        width: 60%;
    }

    #newsletter-section h3 {
        text-align: left;
    }

    #newsletter-about {
        color: #9aa8b1;
        display: block;
        font-size: 0.85em;
        font-style: italic;
        margin-top: 2em;
        margin-bottom: 5em;
    }
    

    /*--------------
    |   Clickables |
     --------------*/

    .learn-link {
        border-bottom: 1px solid #2a2a2a;
        font-size: 0.8em;
    }

    #up-btn-div a {
        background-color: #000;
        color: #fff;
        font-size: 1em;
        font-weight: 600;
        height: 80px;
        line-height: 0.9em;
        margin-right: 50px;
        text-decoration: none;
        text-transform: uppercase;
        width: 80px;

        display: flex;
        align-items: center;
        justify-content: center;
    }

    .footer-link {
        font-size: 1.2em;
    }

    .copyright-links {
        font-size: 0.8em;
    }

    #department-link {
        font-size: 0.8em;
        position: absolute;
        bottom: 5px;
        right: 40px;
    }

    /*---------------
    |       Forms    |
     ---------------*/

    #newsletter-section form {
        width: 100%;
    }

    #newsletter-section input[type=email],  #newsletter-section input[type=submit] {
        font-size: 0.80em;
    }

    /*--------------
    |      Video    |
     --------------*/

    #responsive-container { 
        padding-bottom: 30%;
        width: 50%; 
    } 

}